.menu{
    position: fixed;
    width: 100%;
    z-index: 1000;  

}


#p1,  #p2 ,#p3,  #p4, #p5, #p6, #p7{
    margin-bottom: 1px;
    padding-top: 45px;
    padding-left: 1px;
    padding-right: 1px;
}


.a10c {

    margin: 1em auto;
    border: 2px solid #555;
    border-radius: 12px !important;
    box-shadow: 25px 25px 15px rgba(0,0,0,0.5);
}
.a12 {
    padding: 10px;
    margin: 1em auto;
    border: 2px solid #20B2AA;
    border-radius: 12px !important;
    box-shadow: 25px 25px 15px rgba(0,0,0,0.5);
}
.a10s {

    margin: 1em auto;
    border: 2px solid #555;
    border-radius: 12px !important;
    box-shadow: 25px 25px 15px rgba(0,0,0,0.5);
    background-color:#F0F0F0; 
}

.im:hover{
    cursor: pointer;
    margin: 1em auto;
    border: 2px solid #555;
    border-radius: 12px !important;
    box-shadow: 25px 25px 15px rgba(0,0,0,0.5);
}


#im_2_d, #im_3_d, #im_4_d{
    display: none;
}

#p5{
    padding-top: 75px;
    padding-bottom: 35px;
}

.p5{
    margin-bottom: 35px;
}

.p:hover{
    cursor: pointer;
}

#p3{
    padding-bottom: 35px;
}

.uk-icon-check-square-o{
    color: #008000;
}
#p6{
    background-color: #EEEEEE;
    padding-bottom: 55px;
    padding-top: 55px;
}
#p7{
    background-color:#FFFFFF;
    padding-top: 1px;
    height: 750px;
    padding-top: 55px;
}

#p2{
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #DCDCDC;
}
body{

}

#p4{
    background-color: #E0FFFF;
    padding-bottom: 55px;
    padding-top: 55px;
}

#p1{
    padding-top: 50px;
    height: 750px;
    background-color: #FFFFFF; 
    padding-bottom: 50px;
}
#page_h1 {
    line-height: 1.2; 
  font-size: 7em ;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15), 0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1); }

#temp {
  font-size: 50px;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15), 0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
  line-height: 1.2; 
z-index: 10000;
  position: absolute;
}

#g2{
    margin-top: 250px;
}
.tn {
  border: 2px solid #555;
  border-radius: 10px;
  box-shadow: 25px 25px 15px rgba(0, 0, 0, 0.5); }

.p11{
    position: relative;
}

.p12{
    position: absolute;
    top:-170px;
    z-index: 1;
}
.uk-form-label{
   // color:#0000FF !important; 
   font-size: 1.5em !important; 
}
.a10f {
display: block;
   // margin: 1em auto;
    border: 2px solid #555;
    border-radius: 4px !important;
    box-shadow: 25px 25px 15px rgba(0,0,0,0.5);
   margin-bottom: 2em;
}
.uk-form-controls > :last-child {
    margin-bottom: 2.5em;
}
.uk-form select, .uk-form textarea, .uk-form input:not([type]), .uk-form input[type="text"], 
.uk-form input[type="password"], .uk-form input[type="datetime"], .uk-form input[type="datetime-local"], 
.uk-form input[type="date"], .uk-form input[type="month"], .uk-form input[type="time"], .uk-form input[type="week"], 
.uk-form input[type="number"], .uk-form input[type="email"], .uk-form input[type="url"], .uk-form input[type="search"], 
.uk-form input[type="tel"], .uk-form input[type="color"] {
    
    background: #11E6B9 none repeat scroll 0% 0%;
    
   
}
#bem{
    background: #A1A3BA;
    color: #FFFFFF;
    border: 2px solid #00FFA9;
}
.p7-h1{
 // text-shadow:5px 6px 2px rgba(0, 0, 0, 1);
 text-shadow: 0px 3px 0px #b2a98f,

	             0px 14px 10px rgba(0,0,0,0.15),

	             0px 24px 2px rgba(0,0,0,0.1),

	             0px 34px 30px rgba(0,0,0,0.1);
}
.error {
	color: red;
        font-size: 1.5em;
}


.uk-overlay-panel{
    padding-top: 70px;
}
.m_img{
    height: 150px;
    width: auto;
}
.foto{
   padding: 0 8vw;
}